$col-count: 12;
$gutter: 1%;
$primary-color: #151515;
$primary-color-shade-5: #fdfdfd;
$primary-color-shade-8: #f9f9f9;
$secondary-color: #6a983c;
$additional-color-1: #d0a866;
$additional-color-2: #e5704b;
$additional-color-3: #37d0d6;
